<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="podsistem1PU" transaction-type="RESOURCE_LOCAL">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <class>entities.Gledanje</class>
    <class>entities.Kategorija</class>
    <class>entities.Korisnik</class>
    <class>entities.Paket</class>
    <class>entities.Video</class>
    <class>entities.Pretplata</class>
    <class>entities.Ocena</class>
    <class>entities.Mesto</class>
    <properties>
      <property name="javax.persistence.jdbc.url" value="jdbc:mysql://localhost:3306/db1?zeroDateTimeBehavior=CONVERT_TO_NULL"/>
      <property name="javax.persistence.jdbc.user" value="admin"/>
      <property name="javax.persistence.jdbc.driver" value="com.mysql.cj.jdbc.Driver"/>
      <property name="javax.persistence.jdbc.password" value="123"/>
      <property name="eclipselink.jdbc.property.useSSL" value="false"/>
      <property name="eclipselink.jdbc.property.requireSSL" value="false"/>
    </properties>
  </persistence-unit>
</persistence>
